@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Category>
@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Index</h1>
<br />
<table class="table table-hover">
   <tr>
      <th>#</th>
      <th>Kategori Adı</th>
      <th>Pasif Yap</th>
      <th>Aktif Yap</th>
      <th>Düzenle</th>
   </tr>
   @foreach(var item in Model)
   {
   <tr>
      <td>@item.CategoryID</td>
      <td>@item.CategoryName</td>
      <td>
         <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#Sil_@item.CategoryID">Pasif Yap</button>
         <!--Modal-->
         <div class="modal fade" id="Sil_@item.CategoryID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLongTitle">Kategoriyi Sil</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <h4>Kategoryi Silmek İstiyor Musunuz?<h4>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-info mx-4" data-dismiss="modal">Vazgeç</button>
                     @Html.ActionLink("Sil","CategoryDelete", new { id = @item.CategoryID }, new { @class = "btn btn-danger mx-4" })
                  </div>
               </div>
            </div>
         </div>
      </td>
      <td><a href="#" class="btn btn-rounded btn-primary"><i class="fa fa-check"></i> Aktif Yap</a></td>
      <td><a href="#" class="btn btn-rounded btn-info"><i class="fa fa-paste"></i> Düzenle</a></td>
   </tr>
   }
</table>
<a href="~/Admin/Category/CategoryAdd" class="btn btn-secondary">Yeni Kategori Ekle</a>
<br /> <br />
@Html.PagedListPager((IPagedList)Model,p=>Url.Action("Index", new{p}))
@*<a href="#" class="btn btn-rounded btn-warning"><i class="fa fa-warning"> </i> Pasif Yap</a>*@
@section scripts {}